{% extends "base.html" %}
{% block title %}О нас{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8">
        <h1>О дневнике</h1>
        <p class="lead">Ваш персональный цифровой компаньон для размышлений и роста.</p>
        
        <p>Diary - это платформа, предназначенная для того, чтобы помочь вам документировать свой жизненный путь, как личный,
            так и профессиональный.
            Хотите ли вы вести личный дневник, продемонстрировать свою работу или просто поразмышлять о своем росте,
            Diary предоставляет необходимые инструменты.</p>
        
        <h3 class="mt-4">Наша миссия</h3>
        <p>Мы верим в силу рефлексии и документирования. Записывая свои мысли и достижения,
            вы создаете ценный ресурс для личностного роста и самопознания.</p>
        
        <h3 class="mt-4">Особенности</h3>
        <ul>
            <li>Защищенные личные дневниковые записи</li>
            <li>Демонстрация портфолио ваших работ</li>
            <li>Настройка профиля</li>
            <li>Простой в использовании интерфейс</li>
            <li>Адаптивный дизайн для всех устройств</li>
        </ul>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Кратко о нас:</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Основан: 2025</li>
                    <li class="list-group-item">Пользователи: Растет с каждым днем!</li>
                    <li class="list-group-item">Платформа: Веб-платформа</li>
                    <li class="list-group-item">Безопасность: Высший приоритет</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}